div{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 70px;
    transition: background 3s;
   
}
div:hover{
    background-color: blue;
}
p{
    text-align: center;
    margin-top: 40px;
     align-items: center;
}